@model PizzeriaMassagotti.Models.Order
@inject PizzeriaMassagotti.Services.CartService _cartService
@inject PizzeriaMassagotti.Services.PaymentService _paymentService
@inject PizzeriaMassagotti.Services.IngredientService _ingredientService


@{
    ViewData["Title"] = "Edit";
}
<h2>Your order</h2>
@*<h4>Order</h4>*@
@*<hr />*@
<section class="order">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="OrderId" />
                <input type="hidden" asp-for="ShoppingCartId" />
                <input type="hidden" asp-for="ShoppingCart" />
                <input type="hidden" asp-for="Anonymous" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <input type="hidden" asp-for="OrderDateTime" />
                <input type="hidden" asp-for="CartItems" />


                <div class="table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of units</th>
                                <th>Ingredients</th>
                                <th>Price per unit</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Dish.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        @*@foreach (var ingredient in item.CartItemIngredients)*@
                                        @foreach (var ingredient in _cartService.All(item.CartItemId))
                                        {
                                            @(ingredient.Ingredient.Name + " ")

                                        }
                                    </td>
                                    <td>@item.Price kr</td>
                                    <td>@(item.Quantity * item.Price) kr</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*@foreach (var item in Model.CartItems)
                        {
                                <p>@item.Dish.Name, @item.Price kr</p>
                                @foreach (var ingredient in item.CartItemIngredients)
                            {*@
                    @*<p>@String.Join(ingredient.Ingredient.Name)</p>*@
                    @*<p>@ingredient.Ingredient.Name</p>*@
                    @*@(ingredient.Ingredient.Name + " ")*@
                    @*}
                        }*@

                    <h4 class="total-price">Total amount: @(_cartService.TotalAmount(Model.ShoppingCartId) + " kr")</h4>                               
                </div>
                <div class="row">
                    <div class="col-md-6 name-address">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.DisplayNameFor(model => model.Name)
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.DisplayNameFor(model => model.Address)
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.DisplayNameFor(model => model.ZipCode)
                                        <input asp-for="ZipCode" class="form-control" />
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.DisplayNameFor(model => model.City)
                                        <input asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.DisplayNameFor(model => model.Email)
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 creditcard">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.DisplayNameFor(model => model.CardNumber)
                                    <input asp-for="CardNumber" class="form-control" />
                                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.DisplayNameFor(model => model.CVC)
                                    <input asp-for="CVC" class="form-control" />
                                    <span asp-validation-for="CVC" class="text-danger"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.DisplayNameFor(model => model.ExpireMonth)
                                    <select asp-for="ExpireMonth" class="form-control" asp-items="ViewBag.ExpireMonth"></select>
                                    <span asp-validation-for="ExpireMonth" class="text-danger"></span>
                                </label>
                                <label>
                                    @Html.DisplayNameFor(model => model.ExpireYear)
                                    <select asp-for="ExpireYear" class="form-control" asp-items="ViewBag.ExpireYear"></select>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="sign" type="submit" value="Sign" class="btn btn-default" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>        
        </div>
        <div class="col-md-12 back-to-cart">
            <form asp-action="Back">
                <input id="back-to-cart" type="submit" class="btn btn-default" value="Back to cart" />
            </form>
        </div>
    </div>
</section>


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
