@model PizzeriaMassagotti.Models.CartItem
@inject PizzeriaMassagotti.Services.DishService _dishService
@inject PizzeriaMassagotti.Services.CartService _cartService

<div>
    <table>
        <tr>
            <td>
                <p>@Model.Dish.Name @Model.Dish.Price @Model.Quantity </p>
                @if (Model.Dish.DishIngredients != null)
                {
                    @foreach (var item in Model.Dish.DishIngredients)
                {
                        @(item.Ingredient.Name + " ")
                    }
                }


            </td>

            <td>
                @if (Model.CartItemIngredients != null)
                {
                    @foreach (var item in _cartService.All(Model.CartItemId))
                {
                        @(item.Ingredient.Name + " ")
                    }
                }
            </td>

            @*<td>
                @if (Model.CartItemIngredients != null)
                {
                    @foreach (var item in Model.CartItemIngredients)
                {
                        @(item.Ingredient.Name + " ")
                    }
                }
            </td>*@

            <td>
                <button type="submit" class="buy" name="increase-@Model.CartItemId">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
                <button type="submit" class="buy" name="decrease-@Model.CartItemId">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
                <button type="submit" class="buy" name="customize-@Model.CartItemId">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                @*<a class="buy" asp-controller="CartItems" asp-action="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>*@

                @*<a class="buy" asp-controller="CartItems" asp-action="Edit" name="customize-@Model.CartItemId">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>*@

                @*<button type="submit" class="buy" name="customize-@Model.DishId">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>*@
                <button type="submit" class="buy" name="delete-@Model.CartItemId">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>