@model PizzeriaMassagotti.Models.CartItem
@inject PizzeriaMassagotti.Services.CartService _cartService
@inject PizzeriaMassagotti.Services.IngredientService _ingredients
@inject PizzeriaMassagotti.Services.DishService _dishService

@{
    ViewData["Title"] = "Edit";
}
<h2>Customize your dish</h2>
<h4>@Model.Dish.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @*<p>@Model.Dish.Name @Model.Dish.Price @Model.Quantity </p>*@
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartItemId" />
            <input type="hidden" asp-for="ShoppingCartId" />
            <input type="hidden" asp-for="DishId" />
            <input type="hidden" asp-for="Quantity" />
            
            <div class="form-group checkbox checkbox-inline" >
               
                    @foreach (var ingredient in Model.CartItemIngredients)
                    {
                        <input class="form-group" type="checkbox" name="ingredient-@ingredient.IngredientId" checked />

                        <p>
                            @(ingredient.Ingredient.Name + " ")
                        </p>
                    }
                </div>

            <p>Additional ingredients</p>

            <div class="form-group checkbox checkbox-inline">                             
                @foreach (var ingredient in _ingredients.All())
                {
                    <input class="form-group" type="checkbox" name="ingredient-@ingredient.IngredientId"/>
                    <p>
                        @(ingredient.Name + " " + ingredient.Price + " SEK")
                    </p>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
